figure{
    border:2px solid gray;
    width: 20%;
    padding: 10px;
    text-align:center;
    border-radius: 30px;
}
figcaption{
    border:2px solid rgb(147, 14, 14);
    color:white;
    font-weight: bold;
    background-color: brown;

    padding: 10px;
    text-align:center;
    border-radius: 30px;
}

